{
  "plugins": ["@babel/plugin-transform-runtime"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
