#tooltip {
  display: none;
}

@media screen and (min-width: 48em) {
  #tooltip:not(:empty) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float:left; 
    margin-top: 120px;
    margin-left: 20px;
    max-width: 350px;
    border: 1px solid;
    width: 20%;
    border-color: lightgray;
  }
}

table {
  border-collapse: collapse;
  font-family: 'Roboto';
  font-size: 12px;
  table-layout: fixed;
}

td:first-of-type {
  min-width: 175px;
  font-weight: bold;
  text-align: right;
}

tr { 
  border: solid #B5BDC1;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

#hcContainer {
  width: 75%;
}

@media screen and (min-width: 48em) {
.dropdown-container {
    position:absolute;
    z-index: 1;
    margin-left: 35%;
    top: 100px;
    border-color: lightgray;
  }
}

@media screen and (max-width: 47em) {
  .dropdown-container {
    position: absolute;
    z-index: 1;
    margin-left: 20%;
    top: 220px;
    border-color: lightgray;
  }  
}