#tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float:left; 
  margin-top: 140px;
  max-width: 350px;
  border: 1px solid;
  border-color: #DBDBDB;
  width: 20%;
}

table {
  border-collapse: collapse;
  font-family: 'Roboto';
  font-size: 12px;
  table-layout: fixed;
}

td:first-of-type {
  font-weight: bold;
  text-align: right;
}

tr { 
  border: solid #B5BDC1;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

#hcContainer {
  width: 75%;
}

.dropdown-container {
  margin-left: 35%;
  top: 115px;
}