@use 'abstracts' as *;
@use 'sass:map';

:root {
  --hundredvh: calc(100vh - var(--scrollbarY));

  --breakpoint: #{map-get($breakpoints, 'small')};
  @each $size in ('medium', 'large') {
    @include breakpoint($size) {
      --breakpoint: #{map-get($breakpoints, $size)};
    }
  }

  @each $category, $values in $category-colors {
    --color-#{$category}: #{map.get($values, 'color')};
    --corner-#{$category}: #{map.get($values, 'corners')};
  }
}
