@use 'abstracts' as *;

/*===================================
=            Page Layout            =
===================================*/

.interactive__container,
.interactive__source {
  max-width: $size__content-max-width;
  margin-right: auto;
  margin-left: auto;
}

.interactive__container {
  position: relative;
  padding: 0;
  text-align: left;

  @include breakpoint('large') {
    display: grid;
    grid-template-areas: 'sidebar meat meat';
  }
}

.interactive__description {
  margin-bottom: rem(24px);
}

.interactive__header {
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: $size__max-width;
  margin-right: 1rem;
  margin-bottom: rem(36px);
  margin-left: 1rem;
  background-color: $color__white;

  &.sticky {
    position: fixed;
    top: 0;

    @include breakpoint('large') {
      top: rem(110px);
    }
  }

  @include breakpoint('large') {
    display: inline;
    grid-area: sidebar;
    width: rem(297.66px);
  }
}

.interactive__legend {
  .non-kinetic-physical {
    --category-corner: var(--corner-non-kinetic-physical);
  }

  .kinetic-physical {
    --category-corner: var(--corner-kinetic-physical);
  }

  .cyber {
    --category-corner: var(--corner-cyber);
  }

  .electronic {
    --category-corner: var(--corner-electronic);
  }

  ul {
    list-style: none;
  }

  li {
    @extend %label;
    display: flex;
    align-items: center;
    color: var(--category-corner);
  }

  img {
    width: rem(34px);
    height: rem(34px);
    margin-right: rem(8px);
  }

  .detailed-story {
    margin-top: rem(38px);
    color: $color__black-175;
  }

  &-mobile {
    display: flex;
    align-items: center;

    @include breakpoint('large') {
      display: none;
    }
  }
}

#interactive__timeline {
  &.margin-top {
    margin-top: rem(125px);

    @include breakpoint('large') {
      margin-top: 0;
      margin-left: rem(297.66px);
    }
  }

  @include breakpoint('large') {
    grid-area: meat;
  }
}
