@use 'abstracts' as *;

/*===============================
=            Buttons            =
===============================*/
.btn {
  margin: 0;
  padding: 0.25rem 0.75rem;
  color: $color__white;
  font-family: $font__roboto;
  @include font-size(13px);
  line-height: 1.69;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:focus {
    border-radius: inherit;
  }

  &.btn--primary {
    background-color: $color__primary;

    &:hover {
      background-color: $color__primary-200;
    }
  }

  &.btn--select {
    color: $color__black;
    background-color: $color__gray-100;

    &:hover {
      background-color: darken($color__gray-100, 5%);
    }

    &.is-selected {
      color: $color__white;
      background-color: $color__blue-gray-200;
    }
  }

  &.btn--close {
    color: $color__black;
    background-color: transparent;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      width: 2px;
      height: 1em;
      background-color: $color__gray-400;
      transition: background-color 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: $color__black;
    }
  }
}
