@use 'abstracts' as *;

/*================================
=            Timeline            =
================================*/

.timeline {
  &-container {
    margin-bottom: rem(15px);
    padding: 0.5rem 1rem;
  }

  .noUi-target {
    height: 3px;
    background-color: $color__blue-300;
    border: 0;
    box-shadow: none;

    &::before,
    &::after {
      position: absolute;
      top: -4px;
      display: block;
      width: 3px;
      height: 12px;
      background-color: $color__blue-300;
      content: '';
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .noUi-connect {
    background-color: $color__blue-300;
  }

  .noUi-horizontal .noUi-handle {
    right: -8px !important;
  }

  .noUi-handle {
    width: 1rem;
    height: 1rem;
    background-color: $color__yellow-100;
    border: 0;
    border-radius: 50%;
    box-shadow: none;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-value {
    top: 0;
    color: $color__black-175;
    letter-spacing: 0.03em;
    @extend %form__label;
  }

  .noUi-marker-large {
    display: none;
  }

  .noUi-marker-normal {
    top: 0;
    background-color: $color__blue-300;
  }

  .noUi-tooltip {
    bottom: 80%;
    display: block;
    color: $color__black-140;
    background: transparent;
    border: 0;
    @extend %form__label;
  }

  // // .noUi-active .noUi-tooltip,
  // [aria-valuenow='1962.0'] .noUi-tooltip,
  // [aria-valuenow='1962.0'] .noUi-tooltip {
  //   display: none;
  // }
}
