/*===============================
=            Disclaimer         =
===============================*/

.disclaimer {
  margin: 1rem;
  max-width: 100%;
  min-height: 325px;

  @include breakpoint('medium') {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}
