/*===============================
=            Legends            =
===============================*/

.legend {
	position: absolute;
	bottom: 4rem;
	left: 1rem;
	width: 20%;
	// background: $white;
	// padding: 16px;
	// margin: 0 0 10px;
	// box-shadow: 0 0px 16px rgba(0, 0, 0, 0.24);
}
