/*===========================
=            Map            =
===========================*/

.map-container {
	position: relative;

	.svg-map {
		background-color: $map-water;
	}

	.map-background {
		fill: $map-water;
	}

	.country {
		fill: $map-land;
		stroke: $map-land-borders;
	}

	.spaceport {
		fill-opacity: 0.7;

		&.human-launched {
			stroke: $blue;
			stroke-width: 2px;
		}
	}
}

.zoomBtns {
	position: absolute;
	z-index: 20;
	right: 1.5rem;
	cursor: pointer;
	padding-top: 0.5rem;
	display: none;

	&.is-visible {
		display: block;
	}

	.zoom {
		background-color: $white;
		display: block;
		border: 1px solid $dark-blue;
		font-size: 18px;
		width: 27px;
		border-radius: 0;
	}

	.zoom-in {
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom: 1px solid $gray;
	}

	.zoom-out {
		border-top: 0;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	.zoom-reset {
		border-radius: 2px;
	}
}
