/*===========================
=            Map            =
===========================*/

.map-container {
	.svg-map {
		background-color: $map-water;
	}

	.map-background {
		fill: $map-water;
	}

	.country {
		fill: $map-land;
		stroke: $map-land-borders;
	}

	.spaceport {
		fill-opacity: 0.7;

		&.human-launched {
			stroke: $blue;
			stroke-width: 2px;
		}
	}
}
