@use 'variables' as *;
@use 'mixins' as *;

%label {
  color: $color__black;
  font-family: $font__source;
  @include font-size(14px);
  line-height: 1.4;
}

%form__label {
  color: $color__black;
  font-family: $font__abel;
  font-weight: 600;
  @include font-size(14px);
  line-height: 1.4;
}
