.chart {
  width: 100%;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  text-align: center;

  .satellite {
    transition: fill 0.2s linear;

    @each $category, $color in $categories {
      &.satellite--#{$category} {
        fill: $color;
        stroke: darken($color, 20%);

        &.is-active {
          fill: lighten($color, 10%);
        }
      }
    }
  }
}
