.legend-colors {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    line-height: 1;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      margin: 2px 0.5rem 0 0;
      border-radius: 50%;
    }

    @each $category, $color in $categories {
      &.legend-colors--#{$category}::before {
        background-color: $color;
      }
    }

    &:first-of-type {
      margin-right: 1.5rem;
    }
  }
}
