@use 'abstracts' as *;
@use 'sass:color';

/*============================
=            Chart           =
============================*/

#interactive__charts {
}

#interactive__timeline {
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: rem(65px);
    z-index: -1;
    border-left: 1px solid #e3e3e3;
    content: '';
  }

  .timeline__entry {
    position: relative;
    z-index: 2;
    list-style-type: none;
    background: none;
  
    &.is-first-of-year::before {
      display: block;
      content: attr(data-year);
    }

    .action {
      &__icon {
        z-index: 1;
        width: rem(53px);
        height: rem(53px);
      }

      &__details-icon {
        position: absolute;
        top: rem(-10px);
        left: rem(-10px);
        z-index: 2;
      }
    }
  }
}

