@use 'abstracts' as *;
@use 'sass:color';

/*============================
=            Chart           =
============================*/

#interactive__charts {
}

#interactive__timeline {
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    top: rem(-45px);
    bottom: 0;
    left: rem(85px);
    z-index: -1;
    border-left: 1px solid #e3e3e3;
    content: '';
  }
  
  .timeline__entry {
    position: relative;
    z-index: 2;
    max-width: rem(467px);
    margin-bottom: rem(52px);
    padding: rem(18px) rem(20px) 0 0;
    list-style-type: none;
    background: orange;
  
    &.is-first-of-year::before {
      position: absolute;
      top: rem(-40px);
      display: block;
      content: attr(data-year);
    }

    &-grid {
      display: grid;
      grid-template-areas: 
        'icon date country'
        'icon title title'
        'icon type type';
      grid-template-columns: rem(88px) min-content auto;
    }
  }
  
  .action {
    &__icon {
      z-index: 1;
      grid-area: icon;
      justify-self: center;
      width: rem(53px);
      height: rem(53px);
    }

    &__details-icon {
      position: absolute;
      top: rem(-10px);
      z-index: 2;
    }

    &__year,
    &__country {
      margin-top: 0;
      padding-left: 0;
      border-left: 0;

    }

    &__year {
      grid-area: date;
      margin-right: rem(8px);
      white-space: nowrap;
    }

    &__country {
      grid-area: country;
      font-weight: bold;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    &__title {
      grid-area: title;
      margin: rem(4px) 0;
      padding: 0;
      color: $color__black;
      text-transform: initial;
    }
    
    &__type {
      grid-area: type;
      @extend %secondary__header;
      margin-bottom: 0;
      color: $color__black-750;
    }

    &__details {
      summary {
        padding-bottom: rem(16px);
        color: $color__black-400;
        font-family: $font__source;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-align: right;
        text-transform: uppercase;
        list-style: none;
        @include font-size(14px);

        &::after {
          transition: all 0.3s ease-in-out;
          content: ' +';
        }
      }

      summary::-webkit-details-marker {
        display: none;
      }

      &-inner {
        position: relative;
        width: rem(506px);
        margin-left: rem(76px);
        padding: rem(36px) rem(50px);
        background-color: $color__beige;
      }

      &-body {
        color: $color__black;
        font-family: $font__source;
        @include font-size(18px);
        line-height: 1.6;
      }

      &-link {
        @extend %secondary__header;
        display: block;
        width: fit-content;
        margin-left: auto;
        color: $color__primary;
        box-shadow: none;
      }
    }

    &__details[open] {
      summary {
        color: $color__black-600;
      }

      summary::after {
        content: ' -';
      }

      .action__details-inner::before {
        position: absolute;
        top: rem(-15px);
        bottom: 50%;
        left: rem(-16px);
        z-index: -1;
        width: rem(16px);
        border-bottom: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        content: '';
      }
    }

    &__source-label {
      @extend %secondary__header;
      color: $color__black-750;
      text-transform: uppercase;
    }

    &__source {
      color: $color__black;
      font-family: $font__source;
      @include font-size(16px);
      line-height: 1.4;
    }
  }
}

