@use 'abstracts' as *;

.interactive__filters {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint('medium') {
    justify-content: space-evenly;
  }
}
