/* ----------  Colors  ---------- */
$black: #000;
$white: #fff;

$blue: #196c95;
$light-blue: #5db6d0;
$yellow: #f9bc65;
$orange: #d66e42;
$green: #4f9793;
$dark-green: #3e7a82;
$dark-gray: #4b5255;

/* ----------  Fonts  ---------- */
$font__abel: 'Abel', 'Arial', sans-serif;
$font__source: 'Source Sans Pro', 'Arial', sans-serif;
