#tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 85px;
  float:left; 
  max-width: 350px;
}

table {
  border-collapse: collapse;
  font-family: 'Roboto';
  font-size: 12px;
}

td:first-of-type {
  font-weight: bold;
  text-align: right;
}

tr { 
  border: solid #B5BDC1;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

