table {
  border-collapse: collapse;
}

td {
  padding: 2px;
}
tr { 
  border: solid #B5BDC1;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.columnOne {
  text-align: right;
}

.columnTwo {
  text-align: left;
}

