body,
.leaflet-container {
  font: 14px/1.5 "Source Sans Pro", Arial, sans-serif;
}

h1,
h2,
h3,
.date {
  font-family: Abel, Arial, sans-serif;
}
.box header h1 {
  margin-top: 0;
  font-size: 1.3rem;
  color: #000;
}
header p,
p.scenario-description,
.indicator p {
  color: black;
  line-height: 1.25;
}

p.scenario-description {
  margin-top: 9px;
}

.indicator p {
  margin-bottom: 12px;
  font-size: 14px;
  font-family: Abel, Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: unset;
  text-transform: uppercase;
}

.indicator .date {
  font-weight: 700;
  color: #d66e42;
  border-bottom: 2px solid #44545f;
}
span.scenario-description-name {
  font-weight: bold;
  font-style: italic;
}
.leaflet-marker-icon:focus {
  outline: 0;
}

.leaflet-marker-icon.land div {
  font-size: 22px;
  text-align: center;
  color: #6b6b6b;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.67),
    -2px -1px 0 rgba(255, 255, 255, 0.67), 1px -1px 0 rgba(255, 255, 255, 0.67),
    -1px 1px 0 rgba(255, 255, 255, 0.67), 1px 1px 0 rgba(255, 255, 255, 0.67);
}
.leaflet-marker-icon.water div {
  letter-spacing: 0.15em;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: #455254;
  opacity: 0.75;
  width: 200px;
  transform: rotate(30deg);
}
[class*="animated_icon"] {
  border-radius: 50%;
}
img.leaflet-marker-icon {
  z-index: 999 !important;
}

[class*="jammed-airspace"] {
  display: none;
  opacity: 1;
  background-color: #f9bc65;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#cc1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-mask-image: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 1) 25%,
    transparent 75%
  );
  mask-image: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 1) 25%,
    transparent 75%
  );

  animation: shake 0.9s;
  animation-iteration-count: infinite;
}

#key {
  align-items: start;
  display: flex;
  display: -ms-flex;
  align-items: center;
  -ms-flex-align: center;
  width: 100%;
  justify-content: space-between;
}

#controls li {
  margin: 0;
}

.itemText {
  white-space: nowrap;
}

.colorKey {
  margin: 4px 4px 0 0;
}

.timeline .timeline-container {
  padding: 0.5rem 0 0.5rem 1rem;
}
.timeline .noUi-marker ~ .noUi-value {
  left: 50% !important;
  width: 100%;
  text-align: left;
}
.timeline .noUi-marker ~ .noUi-value:last-of-type {
  text-align: right;
}
.instruction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instruction p:last-child {
  font-size: 12px;
}

.leaflet-control-scale-line {
  font: 14px/1 "Source Sans Pro", Arial, sans-serif;
  border-top: 0 !important;
  border-bottom: 0 !important;
  margin: 6px 0;
}
.leaflet-top.leaflet-left {
  right: 24px;
  top: -6;
  left: unset;
  transform: rotate(-90deg);
}

.leaflet-touch .leaflet-bar a.leaflet-control-zoom-out {
  transform: rotate(90deg);
  line-height: 27px;
}
.noUi-handle,
.timeline-bar,
.timeline-btn,
.box section#scenario button:not(.active) {
  cursor: pointer;
}
.box {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.875);
}

.box section#scenario button.active {
  background-color: #f9bc65;
  border: 2px solid #f9bc65;
  color: #4b5255;
}

.box section#scenario button:not(.active) {
  background-color: transparent;
  border: 2px solid #f9bc65;
  color: #4b5255;
}

.box section#scenario button {
  padding: 3px 6px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Abel, Arial, sans-serif;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.box section#scenario button:not(.active):hover {
  background-color: #e89554;
  border: 2px solid #e89554;
  color: #fff;
}

.box button:focus {
  outline: 0;
}

.box button:not(.active):focus {
  outline: 2px solid #000;
}

.hamburger .menu {
  font-family: Abel, Arial, sans-serif;
  font-size: 15px;
}

.leaflet-popup-close-button {
  opacity: 0;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none;
}
.tooltip,
p {
  -webkit-font-smoothing: antialiased;
}
.tooltip .tooltip-heading {
  font-family: Abel, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.tooltip .tooltip-label {
  color: #000;
  font-weight: 400;
  margin: 0 0 6px 0;
}

.tooltip .tooltip-value {
  border-bottom: 2px solid #44545f;
  color: #d66e42;
  font-weight: 400;
}

.tooltip a {
  color: #196c94;
  font-weight: 400;
  text-decoration: none;
  background-image: linear-gradient(#fff 50%, #b5bdc1 50%),
    linear-gradient(
      to bottom,
      rgba(214, 110, 66, 0.75) 0,
      rgba(214, 110, 66, 0.75) 100%
    );
  background-position: 0 100%, 0 100%;
  background-repeat: repeat-x, repeat-x;
  background-size: 4px 4px, 4px 4px;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.tooltip a:hover {
  /* background-size: 4px 4px, 4px 100%;
  color: #44545f; */

  background-size: 0 0, 0 0;
  color: #d66e42;
}
.leaflet-container a svg {
  height: 10px;
  width: 10px;
  stroke-width: 0.4px;
  fill: #196c94;
  stroke: #196c94;
}
.leaflet-container a:hover svg {
  fill: #d66e42;
  stroke: #d66e42;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.875);
  border-radius: 0;
  border: 1px solid #000;
}

.leaflet-popup-tip {
  display: none;
}

aside.toolbox {
  left: 12px;
  width: 425px;
}

.hamburger .menu {
  margin: 0;
}

.box,
.hamburger {
  border-radius: 0;
}

body > .indicator {
  display: none;
  /* font-size: 16px;
  color: black;
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 50%; */
}
@media (max-width: 425px) {
  aside.toolbox {
    width: 255px;
  }

  #key {
    flex-wrap: wrap;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg) scale(1);
    background: -moz-radial-gradient(
      circle at 60% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 60% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 60% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  10% {
    transform: translate(-1px, -6px) rotate(-1deg) scale(1);
    background: -moz-radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  20% {
    transform: translate(-9px, 0px) rotate(1deg) scale(0.95);
    background: -moz-radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }

  30% {
    transform: translate(9px, 6px) rotate(0deg) scale(0.9);
    background: -moz-radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 60% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg) scale(0.95);
    background: -moz-radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  50% {
    transform: translate(-1px, 6px) rotate(-1deg) scale(1);
    background: -moz-radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  60% {
    transform: translate(-9px, 1px) rotate(0deg) scale(0.95);
    background: -moz-radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 40% 60%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  70% {
    transform: translate(9px, 1px) rotate(-1deg) scale(0.9);
    background: -moz-radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg) scale(0.95);
    background: -moz-radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  90% {
    transform: translate(1px, 6px) rotate(0deg) scale(1);
    background: -moz-radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 40% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
  100% {
    transform: translate(1px, -6px) rotate(-1deg) scale(1);
    background: -moz-radial-gradient(
      circle at 60% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: -webkit-radial-gradient(
      circle at 60% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
    background: radial-gradient(
      circle at 60% 40%,
      rgba(249, 188, 101, 0.5) 0%,
      rgba(249, 188, 101, 0.5) 40%,
      rgba(249, 188, 101, 0) 99%
    );
  }
}

/* abel-regular - latin */
@font-face {
  font-family: "Abel";
  font-weight: 400;
  src: url("../fonts/abel-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Abel Regular"), local("Abel-Regular"),
    url("../fonts/abel-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/abel-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/abel-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/abel-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/abel-v9-latin-regular.svg#Abel")
      format("svg"); /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("../fonts/source-sans-pro-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/source-sans-pro-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/source-sans-pro-v11-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/source-sans-pro-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}
